html, body {
  display: flex;
  justify-content: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
}
form.login {
  border: 5px solid #f1f1f1;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(16, 103, 160);
  box-sizing: border-box;
}
button {
  background-color: rgb(16, 103, 160);
  color: white;
  padding: 14px 0;
  margin: 10px 0;
  border: none;
  cursor: grabbing;
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 18;
}
a, span {
  text-align: center;
}
button:hover {
  opacity: 0.8;
}

.formcontainer {
  margin: 24px 50px 12px;
}

.links {
  text-align: center;
}

.container {
  padding: 16px 0;
  text-align: left;
}