html, body {
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
}

form.edit {
  border: 5px solid #f1f1f1;
  padding: 15px 70px 25px 70px;
}

#border {
  margin: auto;
  width: 30%;
  border: 5px solid #f1f1f1;
  padding: 15px 70px 25px 70px;
}

button {
  background-color: rgb(16, 103, 160);
  color: white;
  padding: 14px 0px;
  margin: 10px 0px;
  border: none;
  cursor: grabbing;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}