<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/editprofile.css">
    <title>Edit Profile</title>
  </head>
  <body>
    <div id="border">
      <form class="edit" action="/edit-profile" method="post">
        <h1>Edit Profile</h1>
        <label for="fullName"><strong>Full Name:</strong></label><br />
        <input type="text" name="fullName" value="{{ .FullName }}"/><br />
        <label for="address"><strong>Address:</strong></label><br />
        <input type="text" name="address" value="{{ .Address }}"/><br />
        <label for="telephone"><strong>Telephone:</strong></label><br />
        <input type="text" name="telephone" value="{{ .Telephone }}"/><br />
        <label for="email">Email:</label><br />
        {{ if .GoogleAccount }}
          <input type="text" name="email" value="{{ .Username }}" readonly/><br /><br />
        {{else}}
          <input type="text" name="email" value="{{ .Username }}"/><br /><br />
        {{end}}
        {{ if .Err }}
        <label>{{ .ErrText }}</label>
        {{end}}
        <button onClick="location.href='/profile';">Cancel</button>
        <button type="submit">Save</button>
      </form>
    </div>
  </body>
</html>
