<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/css/forgotpassword.css">
    <title>Forgot Password</title>
  </head>
  <body>
    <div id="border">
      <form class="reset" action="/forgot-password" method="post">
        <h1>Forgot Password</h1>
        <label for="username"><strong>Username:</strong></label><br />
        <input type="text" name="username" placeholder="Enter Username" value="{{ .Username }}" required/><br /><br /> 
        {{ if .Err }}
        <label>{{ .ErrText }}</label>
        {{end}}
        <button type="submit">Send reset link</button>
      </form>
      <button onClick="location.href='/login';" type="submit">Back to Login</button>
    </div>
  </body>
</html>
