<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/linksent.css">
    <title>Reset link sent</title>
  </head>
  <body>
    <label><strong>Link sent to: </strong>{{ .Username }}</label>
    <button onClick="location.href='/login';" type="submit">Back to Login</button>
  </body>
</html>
