<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="static/js/login.js"></script>
    <link rel="stylesheet" href="static/css/login.css">
    <title>Login</title>
  </head>
  <body>
    <form class="login" action="/login" method="post">
      <h1>Login</h1>
      <div class="formcontainer">
        <hr/>
      <div class="container">
      <label for="username"><strong>Username:</strong></label><br />
      <input type="text" name="username" placeholder="Enter Username" value="{{ .Username }}" required/><br />
      <label for="username"><strong>Password:</strong></label><br />
      <input type="password" name="password" placeholder="Enter Password" value="{{ .Password }}" required/><br /><br /> 
      {{ if .Err }}
      <label>{{ .ErrText }}</label>
      {{end}}
      <button type="submit">Login</button>
    </form>
    <button id="customBtn">Login with Google</button> <br /><br />
    <form id="google_form" action="/google-log-in" method="POST">
      <input type="hidden" name="token_id" id="token_id" value="">
    </form>
    <div class="links"><a href="/forgot-password">Forgot password?</a><br><br />
      <span class="signup"
          >Do not have an account? <a href="/signup">Sign up</a></span
      ></div>
  </body>
</html>
