<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://apis.google.com/js/api:client.js"></script>
    <link rel="stylesheet" href="static/css/profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <div id="border">
      <h1>Profile</h1>
      <p><strong>Fullname: </strong>{{ .FullName }}</p>
      <p><strong>Address:</strong> {{ .Address }}</p>
      <p><strong>Telephone:</strong> {{ .Telephone }}</p>
      <p><strong>Email:</strong> {{ .Username }}</p>
      <button
        type="button"
        onClick="location.href='/edit-profile';"
      >
        Edit Profile
      </button>
      <button type="button" onClick="location.href='/logout';">
        Logout
      </button><br><br>
    </div>
  </body>
</html>
