<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/css/resetpassword.css">
    <title>Reset Password</title>
  </head>
  <body>
    <div id="border">
      <form class="reset" action="/reset-password" method="post">
        <h1>Reset Password</h1>
        <label for="password"><strong>New Password:</strong></label><br />
        <input type="password" name="password" placeholder="Enter new password" value="{{ .Password }}" required/><br /><br /> 
        <label for="passwordAux"><strong>Retype Password:</strong></label><br />
        <input type="password" name="passwordAux" placeholder="Retype your new password" value="{{ .PasswordAux }}" required/><br /><br />
        <input type="hidden" name="token" value="{{ .Token }}">
        {{ if .Err }}
        <label>{{ .ErrText }}</label>
        {{end}}
        <button type="submit">Change password</button>
      </form>
    </div>
  </body>
</html>
