<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="static/js/signup.js"></script>
    <link rel="stylesheet" href="static/css/signup.css">
    <title>Login</title>
  </head>
  <body>
    <form class="signup" action="/signup" method="post">
      <h1>Sign-Up</h1>
      <div class="formcontainer">
        <hr/>
      <div class="container">
      <label for="username"><strong>Username:</strong></label><br />
      <input type="text" name="username" placeholder="Enter Username" value="{{ .Username }}" required/><br />
      <label for="username"><strong>Password:</strong></label><br />
      <input type="password" name="password" placeholder="Enter Password" value="{{ .Password }}" required/><br /><br /> 
      {{ if .Err }}
      <label>{{ .ErrText }}</label>
      {{end}}
      <button type="submit">Sign-Up</button>
    </form>
    <button id="customBtn">Sign-Up with Google</button> <br /><br />
    <form id="google_form" action="/google-sign-up" method="POST">
      <input type="hidden" name="token_id" id="token_id" value="">
    </form>
    <div class="links">
      <span class="signup"
          >Existing user? <a href="/login">Login</a></span
      ></div>
  </body>
</html>
